<div id="content">
    <!-- insert the page content here -->
    <h1>Внимание</h1>
    <p> Пока здесь пусто. </p>
    <p> Но обязательно что-то сюда запостим.</p>

    <h2>Browser Compatibility</h2>
    <p>This template has been tested in the following browsers:</p>
    <ul>
        <li>Internet Explorer 8</li>
        <li>Internet Explorer 7</li>
        <li>FireFox 3.5</li>
        <li>Google Chrome 6</li>
        <li>Safari 4</li>
    </ul>
    <h2>Данный template явно создавали в весьма далёкие времена</h2>
</div>